
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;


}
@font-face {
  font-family: "Segoe UI";
  src: url("../assets/fonts/Segoe UI.ttf");
}

#app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;

}



.background {
    background: #f5f5f5;
}
.background-component {
    background: #ffffff;
}
.background-filter {
  background: #BDBDBD;
}
.background-button {
  background: #4FC3F7;
}
.text {
  color: #212121;
}
.text-filter {
  color: #ffffff;
}
.text-button {
  color: #ffffff;
}
.border {
  border-color: #A0A0A0;
}